<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="stylesheet" href="<%= BASE_URL %>styles.css" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <noscript>
        <strong
          >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
          properly without JavaScript enabled. Please enable it to
          continue.</strong
        >
      </noscript>
      <div id="wizard-app1" class="wizard-app"></div>
      <div id="wizard-app2" class="wizard-app"></div>
    </div>
    <script src="<%= BASE_URL %>store.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
