<template>
  <app-button-result></app-button-result>
  <hr />
  <app-button
    size="L"
    color="primary"
    text="Начать подбор"
    @action="clickButton()"
    icon="search"
  ></app-button>

  <hr />

  <app-button
    size="M"
    color="secondary"
    text="Далее"
    @action="clickButton()"
  ></app-button>

  <hr />

  <app-button
    size="S"
    color="gray"
    text="Назад"
    @action="clickButton()"
  ></app-button>

  <hr />

  <app-button circle="backward" @action="clickButton()"></app-button>

  <hr />

  <app-button circle="forward" @action="clickButton()"></app-button>
</template>

<script>
import AppButton from '../AppButton.vue';
import AppButtonResult from '../AppButtonResult.vue';

export default {
  name: 'AppButtonsGUI',
  methods: {
    clickButton() {},
  },
  components: {
    AppButton,
    AppButtonResult,
  },
};
</script>

<style>
.wizard-app {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
</style>
