<template>
  <app-header
    v-for="(step, index) in $store.state.steps"
    :key="step.title"
    :index="index"
  ></app-header>
</template>

<script>
import AppHeader from '../AppHeader.vue';

export default {
  name: 'AppHeadersGUI',
  components: {
    AppHeader,
  },
};
</script>
