<template>
  <card-checkbox :card="{}" :stepName="stepLinks"></card-checkbox>
</template>

<script>
import CardCheckbox from '../CardCheckbox.vue';

export default {
  name: 'CardCheckboxGUI',
  components: {
    CardCheckbox,
  },
};
</script>
