<template>
  <hr />
  <form-control-input-radio-img
    :field="{
      label: '2-х слойный картон',
      name: 'box',
      value: '2',
      checked: true,
      img:
        'https://images.unsplash.com/photo-1520038410233-7141be7e6f97?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80',
    }"
  ></form-control-input-radio-img>
  <hr />
  <form-control-input-text></form-control-input-text>
  <hr />
  <form-control-textarea></form-control-textarea>
  <hr />
  <form-control-input-range
    :field="{
      label: 'Ширина',
      name: 'width',
      min: 0,
      max: 1000,
      step: 10,
      value: 500,
      unit: 'мм',
    }"
  ></form-control-input-range>
  <hr />
  <form-control-input-range
    :field="{
      label: 'Высота',
      name: 'height',
      max: 100,
    }"
  ></form-control-input-range>
</template>

<script>
import FormControlInputRadioImg from '../FormControlInputRadioImg.vue';
import FormControlInputText from '../FormControlInputText.vue';
import FormControlTextarea from '../FormControlTextarea.vue';
import FormControlInputRange from '../FormControlInputRange.vue';

export default {
  name: 'FormControlsGUI',
  components: {
    FormControlInputRadioImg,
    FormControlInputText,
    FormControlInputRange,
    FormControlTextarea,
  },
};
</script>
