<template>
  <div class="wizard-step wizard-step--form" ref="step">
    <app-tabs></app-tabs>

    <div
      class="wizard-step-form__form-container int-dimensions animate"
      ref="container"
    >
      <div
        class="wizard-step-form__fieldset"
        v-for="(block, blockIndex) in data.fields.blocks"
        :key="block.blockTitle"
      >
        <div
          class="wizard-step-form__title"
          @click="clickBlockTitle($event, blockIndex)"
        >
          {{ block.blockTitle }}
        </div>
        <div class="wizard-step-form__fields">
          <component
            v-for="(field, fieldIndex) in block.blockFields"
            :is="`form-control-${field.type}`"
            :key="field.name"
            :blockIndex="blockIndex"
            :fieldIndex="fieldIndex"
            :field="field"
            :stepId="data.id"
            :formId="formId"
          ></component>
        </div>
      </div>
    </div>

    <div class="wizard-step-form__buttons">
      <app-button
        size="S"
        color="gray"
        text="Назад"
        @action="clickBackward($event)"
      ></app-button>

      <app-button
        size="M"
        color="secondary"
        text="Далее"
        @action="clickForward($event)"
      ></app-button>
    </div>

    <app-button-result
      size="M"
      color="secondary"
      v-if="data.resultButton"
    ></app-button-result>
  </div>
</template>

<script>
import AppTabs from '../AppTabs.vue';
import AppButton from '../AppButton.vue';
import AppButtonResult from '../AppButtonResult.vue';
import FormControlInputRange from '../FormControlInputRange.vue';
import FormControlInputRadioImg from '../FormControlInputRadioImg.vue';

export default {
  name: 'AppStepForm',
  data() {
    return {
      activeTab: 0,
      formId: parseInt(new Date().getTime() * Math.random()),
    };
  },
  props: {
    data: Object,
  },
  methods: {
    clickBlockTitle(e, idx) {
      if (
        idx === 0 &&
        this.$refs.container.classList.contains('int-dimensions')
      ) {
        this.$refs.container.classList.remove('animate');
        this.$refs.container.classList.remove('int-dimensions');
        this.$refs.container.classList.add('ext-dimensions');
        setTimeout(() => {
          this.$refs.container.classList.add('animate');
        }, 10);
      } else if (
        idx === 1 &&
        this.$refs.container.classList.contains('ext-dimensions')
      ) {
        this.$refs.container.classList.remove('animate');
        this.$refs.container.classList.remove('ext-dimensions');
        this.$refs.container.classList.add('int-dimensions');
        setTimeout(() => {
          this.$refs.container.classList.add('animate');
        }, 10);
      }
    },
    clickForward(event) {
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex + 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
      if (window[`yaCounter${window.ymId || 103630}`]) {
        //yaCounter
        window[`yaCounter${window.ymId || 103630}`].reachGoal(
          'WIZARD-NEXT-STEP',
          {
            step: `${this.$store.state.activeStepIndex + 1}/${
              this.$store.state.steps.length
            }`,
          }
        );
      } else if (window.ym) {
        //ym
        window.ym(window.ymId || 103630, 'reachGoal', 'WIZARD-NEXT-STEP', {
          step: `${this.$store.state.activeStepIndex + 1}/${
            this.$store.state.steps.length
          }`,
        });
      }
    },
    clickBackward(event) {
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex - 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
    },
  },
  components: {
    AppTabs,
    AppButton,
    AppButtonResult,
    FormControlInputRange,
    FormControlInputRadioImg,
  },
  mounted() {
    //transition
    setTimeout(() => {
      this.$refs.step.classList.add('wizard-step--show');
    }, 100);
  },
};
</script>

<style scoped>
/* Form container */
.wizard-step-form__form-container {
  width: 80%;
  min-height: 430px;
  margin: 0 auto 30px;
  position: relative;
}
.wizard-step-form__fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

/*Switch dimensions*/
.int-dimensions
  .wizard-step-form__fieldset:nth-child(1)
  .wizard-step-form__title {
  font-size: 14px;
  color: #004ed6;
  transform: translateY(-10px);
  text-decoration: underline;
  cursor: pointer;
  opacity: 0;
}
.int-dimensions.animate
  .wizard-step-form__fieldset:nth-child(1)
  .wizard-step-form__title {
  font-size: 12px;
  transform: translateY(-30px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
}
.int-dimensions
  .wizard-step-form__fieldset:nth-child(1)
  .wizard-step-form__title:hover {
  opacity: 0.7;
}
.int-dimensions
  .wizard-step-form__fieldset:nth-child(1)
  .wizard-step-form__fields {
  opacity: 0;
  pointer-events: none;
}
.int-dimensions .wizard-step-form__fieldset:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.int-dimensions .wizard-step-form__fieldset:nth-child(2) {
  position: relative;
  z-index: 1;
}

.ext-dimensions
  .wizard-step-form__fieldset:nth-child(2)
  .wizard-step-form__title {
  font-size: 14px;
  color: #004ed6;
  transform: translateY(-10px);
  text-decoration: underline;
  cursor: pointer;
  opacity: 0;
}
.ext-dimensions.animate
  .wizard-step-form__fieldset:nth-child(2)
  .wizard-step-form__title {
  font-size: 12px;
  transform: translateY(-30px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
}
.ext-dimensions
  .wizard-step-form__fieldset:nth-child(2)
  .wizard-step-form__title:hover {
  opacity: 0.7;
}
.ext-dimensions
  .wizard-step-form__fieldset:nth-child(2)
  .wizard-step-form__fields {
  opacity: 0;
  pointer-events: none;
}
.ext-dimensions .wizard-step-form__fieldset:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.ext-dimensions .wizard-step-form__fieldset:nth-child(1) {
  position: relative;
  z-index: 1;
}

.wizard-step-form__title {
  font-size: 16px;
  font-weight: bold;
  width: 170px;
  margin-right: 30px;
}
.wizard-step-form__fields {
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wizard-step-form__fields::after {
  content: '';
  width: calc((100% - 30px * 2) / 3);
}
.wizard-step-form__fields > div {
  width: calc((100% - 30px * 2) / 3);
}

/* Buttons */
.wizard-step-form__buttons {
  text-align: center;
  padding-right: calc(100px + 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wizard-step-form__buttons .wizard-button-S {
  margin-right: 30px;
}
.wizard-step-form__buttons .wizard-button-M {
  min-width: auto;
  padding: 0 70px;
}

@media (max-width: 991px) {
  .wizard-step--form .wizard-tabs {
    min-height: 0 !important;
  }
  .wizard-step--form .wizard-step-form__form-container {
    height: calc(
      100vh - 30px - 30px - (30px * 2 + 30px + 60px + 30px + 60px + 30px)
    );
  }
  /*Titles*/
  .int-dimensions,
  .ext-dimensions {
    padding-top: 55px;
  }
  .int-dimensions .wizard-step-form__fieldset:nth-child(1),
  .ext-dimensions .wizard-step-form__fieldset:nth-child(2) {
    top: 55px;
  }
  .wizard-step-form__fieldset .wizard-step-form__title {
    transition: none !important;
  }
  .int-dimensions
    .wizard-step-form__fieldset:nth-child(1)
    .wizard-step-form__title {
    transform: translateY(0);
    opacity: 1;
    top: -53px;
  }
  .int-dimensions.animate
    .wizard-step-form__fieldset:nth-child(1)
    .wizard-step-form__title {
    transform: translateY(0);
  }
  .ext-dimensions
    .wizard-step-form__fieldset:nth-child(2)
    .wizard-step-form__title {
    transform: translateY(0);
    opacity: 1;
    top: -53px;
  }
  .ext-dimensions.animate
    .wizard-step-form__fieldset:nth-child(2)
    .wizard-step-form__title {
    transform: translateY(0);
  }
  .wizard-step-form__fieldset:nth-child(1) .wizard-step-form__title,
  .wizard-step-form__fieldset:nth-child(2) .wizard-step-form__title {
    position: absolute;
    top: -55px;
    left: 0;
    font-size: 15px;
    line-height: 1.2;
  }
  .wizard-step-form__fieldset:nth-child(1) .wizard-step-form__title {
    left: auto;
    right: 0;
  }

  .wizard-step-form__form-container {
    width: auto;
    min-height: 0;
    height: calc(
      100vh - (15px + 30px + 60px + 30px + 58px + 20px + 60px + 30px)
    );
    margin: 0 25px 30px;
    overflow-y: auto;
  }
  .wizard-step-form__fieldset {
    display: block;
  }
  .wizard-step-form__title {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .wizard-step-form__fields {
    display: block;
    width: auto;
  }
  .wizard-step-form__fields > div {
    width: auto;
    margin-bottom: 30px;
  }
  .wizard-step-form__fields::after {
    display: none;
  }

  /* Buttons */
  .wizard-step-form__buttons {
    padding-right: 0;
  }
  .wizard-step-form__buttons .wizard-button-S {
    margin-right: 20px;
  }
}
</style>
