<template>
  <div class="wizard-step wizard-step--poll" ref="step">
    <app-tabs :tabsObject="data.tabs" @navigateTab="navigateTab"></app-tabs>

    <content-one-page
      :items="data.tabs[activeTab].checkbox"
      :activeTab="activeTab"
      componentName="FormControlInputCheckbox"
      stepName="stepPoll"
      :stepId="data.id"
    ></content-one-page>

    <div class="wizard-step-form__buttons">
      <app-button
        size="S"
        color="gray"
        text="Назад"
        @action="clickBackward($event)"
      ></app-button>

      <app-button-result
        size="M"
        color="secondary"
        v-if="data.resultButton"
      ></app-button-result>
    </div>
  </div>
</template>

<script>
import AppButton from '../AppButton.vue';
import AppButtonResult from '../AppButtonResult.vue';
import AppTabs from '../AppTabs.vue';
import ContentOnePage from '../ContentOnePage.vue';

export default {
  name: 'AppStepPoll',
  data() {
    return {
      activeTab: 0,
    };
  },
  props: {
    data: Object,
  },
  methods: {
    navigateTab(activeTab) {
      //set active tab
      this.activeTab = activeTab;
    },
    clickForward(event) {
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex + 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
      if (window[`yaCounter${window.ymId || 103630}`]) {
        //yaCounter
        window[`yaCounter${window.ymId || 103630}`].reachGoal(
          'WIZARD-NEXT-STEP',
          {
            step: `${this.$store.state.activeStepIndex + 1}/${
              this.$store.state.steps.length
            }`,
          }
        );
      } else if (window.ym) {
        //ym
        window.ym(window.ymId || 103630, 'reachGoal', 'WIZARD-NEXT-STEP', {
          step: `${this.$store.state.activeStepIndex + 1}/${
            this.$store.state.steps.length
          }`,
        });
      }
    },
    clickBackward(event) {
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex - 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
    },
  },
  components: {
    AppButton,
    AppButtonResult,
    AppTabs,
    ContentOnePage,
  },
  mounted() {
    setTimeout(() => {
      this.$refs.step.classList.add('wizard-step--show');
    }, 100);
  },
};
</script>

<style scoped>
/* Buttons */
.wizard-step-form__buttons {
  text-align: center;
  padding-right: calc(100px + 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wizard-step-form__buttons .wizard-button-S {
  margin-right: 30px;
}
.wizard-step-form__buttons .wizard-button-M {
  min-width: auto;
  padding: 0 70px;
}

@media (max-width: 767px) {
  /* Buttons */
  .wizard-step-form__buttons {
    padding-right: 0;
  }
  .wizard-step-form__buttons .wizard-button-S {
    margin-right: 20px;
  }
  .wizard-step-form__buttons .wizard-button-M {
    min-width: auto;
    padding: 0 70px;
  }
}
</style>
