<template>
  <div class="wizard-step-main">
    <div
      class="wizard-step-main__wrapper wizard-step"
      ref="wrapper"
      :style="background"
    >
      <div class="wizard-step-main__content">
        <div class="wizard-step-main__heading">
          {{ data.title }}
          <step v-if="data.steps"
            ><b>{{ getNotMainStepsNum() }}</b>
            {{ getWord(getNotMainStepsNum()) }}</step
          >
        </div>
        <div class="wizard-step-main__button">
          <app-button
            size="L"
            color="primary"
            text="Начать подбор"
            @action="clickButton($event)"
            icon="search"
          ></app-button>
        </div>

        <app-button-result
          size="M"
          color="secondary"
          v-if="data.resultButton"
        ></app-button-result>
      </div>
    </div>
  </div>
</template>

<script>
import AppButton from '../AppButton.vue';
import AppButtonResult from '../AppButtonResult.vue';

export default {
  name: 'AppStepMain',
  data() {
    return {
      backgroundImg: '',
      background: '',
    };
  },
  props: {
    data: Object,
  },
  methods: {
    getNotMainStepsNum() {
      return this.$store.state.stepsData.filter((stepObject) => {
        return stepObject.type !== 'main';
      }).length;
    },
    getWord(num) {
      if (/(10|11|12|13|14|15|16|17|18|19)$/.test(num)) {
        return 'шагов';
      } else if (/.*1$/.test(num)) {
        return 'шаг';
      } else if (/[2-4]$/.test(num)) {
        return 'шага';
      } else {
        return 'шагов';
      }
    },
    getBackground() {
      let length = this.data.images.length;
      let random = Math.floor(Math.random() * length);
      this.backgroundImg = this.data.images[random];
      this.background = `background-image: url("${this.data.images[random]}")`;
    },
    clickButton(event) {
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex + 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
      if (window[`yaCounter${window.ymId || 103630}`]) {
        //yaCounter
        window[`yaCounter${window.ymId || 103630}`].reachGoal(
          'WIZARD-NEXT-STEP',
          {
            step: `${this.$store.state.activeStepIndex + 1}/${
              this.$store.state.steps.length
            }`,
          }
        );
      } else if (window.ym) {
        //ym
        window.ym(window.ymId || 103630, 'reachGoal', 'WIZARD-NEXT-STEP', {
          step: `${this.$store.state.activeStepIndex + 1}/${
            this.$store.state.steps.length
          }`,
        });
      }
    },
  },
  components: {
    AppButton,
    AppButtonResult,
  },
  mounted() {
    this.getBackground();
    const img = document.createElement('img');
    img.onload = () => {
      this.$refs.wrapper.classList.add('wizard-step--show');
    };
    img.src = this.backgroundImg;
  },
};
</script>

<style scoped>
.wizard-step-main {
  min-height: 600px;
  background-color: #f7f7f7;
  margin: -30px;
}
.wizard-step-main__wrapper {
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wizard-step-main__content {
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}
.wizard-step-main__heading {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 55px;
}
.wizard-step-main__heading b {
  color: #9a00ff;
  font-size: 80px;
  display: inline-block;
  margin: 0 30px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.wizard-step-main__button button {
  margin: 0 auto;
}
@media (max-width: 575px) {
  .wizard-step-main {
    min-height: calc(100vh - 50px);
    margin: 0 -15px;
    display: block;
  }
  .wizard-step-main__wrapper {
    min-height: calc(100vh - 50px);
    padding: 0 30px 0;
  }
  .wizard-step-main__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .wizard-step-main__heading {
    color: #fff;
    font-size: 39px;
  }
  .wizard-step-main__heading b {
    display: block;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    font-size: 105px;
    margin: 40px 0 15px;
  }
}
</style>
