<template>
  <div class="wizard-step wizard-step--links" ref="step">
    <app-tabs :tabsObject="data.tabs" @navigateTab="navigateTab"></app-tabs>

    <content-pages
      :items="data.tabs[activeTab].cards"
      :componentName="'CardLink'"
      :activeTab="activeTab"
      :stepId="data.id"
    ></content-pages>

    <div class="wizard-step-links__link">
      <app-button
        size="S"
        color="gray"
        text="Назад"
        @action="clickBackward($event)"
        v-if="$store.state.activeStepIndex > 0"
      ></app-button>

      <a href="" @click.prevent="clickNoFormLink($event)"
        >Здесь нет моего продукта</a
      >
    </div>

    <app-button-result
      size="M"
      color="secondary"
      v-if="data.resultButton"
    ></app-button-result>
  </div>
</template>

<script>
import AppTabs from '../AppTabs.vue';
import ContentPages from '../ContentPages.vue';
import AppButton from '../AppButton.vue';
import AppButtonResult from '../AppButtonResult.vue';

export default {
  name: 'AppStepLinks',
  data() {
    return {
      activeTab: 0,
    };
  },
  props: {
    data: Object,
  },
  methods: {
    clickNoFormLink(e) {
      this.$store.commit('showHideForm', {
        id: e.target.closest('.wizard-app').getAttribute('id'),
        flag: true,
      });
    },
    navigateTab(activeTab) {
      //set active tab
      this.activeTab = activeTab;
    },
    clickBackward(event) {
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex - 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
    },
  },
  components: {
    AppTabs,
    ContentPages,
    AppButton,
    AppButtonResult,
  },
  mounted() {
    setTimeout(() => {
      this.$refs.step.classList.add('wizard-step--show');
    }, 100);
  },
};
</script>

<style scoped>
.wizard-step-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}
.wizard-step-links__link a {
  font-size: 12px;
  margin-left: 30px;
}
@media (max-width: 575px) {
  .wizard-step-links__link a {
    margin-left: 0;
  }
}
</style>
