<template>
  <button
    class="wizard-button"
    :class="[
      size ? `wizard-button-${size}` : '',
      color ? `wizard-button-${color}` : '',
      circle ? `wizard-button-circle-${circle}` : '',
    ]"
    @click="$emit('action', $event)"
    :type="type"
  >
    <svg
      v-if="icon && icon === 'search'"
      xmlns="http://www.w3.org/2000/svg"
      width="38.999"
      height="25.13"
      viewBox="0 0 38.999 25.13"
    >
      <path
        class="a"
        d="M39.516,31.838h.1l-3.9-7.389a5.816,5.816,0,0,0-3.009-2.543,5.623,5.623,0,0,0-10.386.08,3.854,3.854,0,0,0-3.463,0,5.619,5.619,0,0,0-10.414,0,5.8,5.8,0,0,0-2.838,2.491L2.568,30.025a8.7,8.7,0,1,0,15.878,5.7,8.148,8.148,0,0,0,.04-.825,8.814,8.814,0,0,0-.171-1.742h0a8.587,8.587,0,0,0-.3-1.056,2.846,2.846,0,0,1,5.117,0,8.648,8.648,0,0,0-.3,1.06,8.814,8.814,0,0,0-.171,1.742q0,.4.04.8a8.7,8.7,0,1,0,16.814-3.858Zm-29.739,8.9a5.839,5.839,0,1,1,5.615-7.508,5.685,5.685,0,0,1,.247,1.67A5.855,5.855,0,0,1,9.777,40.733Zm21.593,0a5.855,5.855,0,0,1-5.858-5.839,5.709,5.709,0,0,1,.243-1.678,5.887,5.887,0,0,1,5.615-4.169,5.819,5.819,0,0,1,4.248,1.833h.024l.3.371a5.835,5.835,0,0,1-4.575,9.481Z"
        transform="translate(-1.076 -18.478)"
      />
    </svg>
    <span v-if="text">{{ text }}</span>
  </button>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    size: String,
    color: String,
    circle: String,
    text: String,
    icon: String,
    type: {
      type: String,
      default() {
        return 'button';
      },
    },
  },
  emits: ['action'],
};
</script>

<style scoped>
.wizard-button {
  border: 0;
  background-color: #9a00ff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  border-radius: 30px;
  min-width: 200px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Icon*/
.wizard-button svg.start-icon {
  margin: 0 35px 0 -12px;
}
.wizard-button svg.start-icon .a {
  fill: #fff;
}
/*Colors*/
.wizard-button-primary {
  background-color: #9a00ff;
}
.wizard-button-primary:hover {
  opacity: 0.7;
}
.wizard-button-secondary {
  background-color: #015bff;
}
.wizard-button-secondary:hover {
  opacity: 1;
  background: #004ed6;
}
.wizard-button-gray {
  background-color: #fff;
  color: #aaa;
  border: 1px solid #aaa;
}
.wizard-button-gray:hover {
  opacity: 1;
  background: #aaa;
  color: #fff;
}
/*Sizes*/
.wizard-button-L {
  height: 70px;
  line-height: 70px;
  border-radius: 35px;
  min-width: 290px;
}
.wizard-button-M {
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  min-width: 200px;
}
.wizard-button-S {
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  min-width: 87px;
  font-size: 12px;
  font-weight: normal;
}
/*Circle*/
.wizard-button-circle-forward,
.wizard-button-circle-backward {
  line-height: 50px;
  border-radius: 25px;
  min-width: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #fff;
  color: #aaa;
  border: 1px solid #aaa;
  position: relative;
}
.wizard-button-circle-forward::before,
.wizard-button-circle-backward::before {
  content: '';
  position: absolute;
  top: 21px;
  left: 21px;
  width: 5px;
  height: 5px;
  border: 1px solid #aaa;
  border-right: 0;
  border-bottom: 0;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  z-index: 1;
}
.wizard-button-circle-forward::before {
  transform: rotate(135deg);
}
.wizard-button-circle-backward::before {
  transform: rotate(-45deg);
}
.wizard-button-circle-forward:hover,
.wizard-button-circle-backward:hover {
  opacity: 1;
  background: #aaa;
}
.wizard-button-circle-forward:hover::before,
.wizard-button-circle-backward:hover::before {
  border-color: #fff;
}
.wizard-button-circle-forward.disabled,
.wizard-button-circle-backward.disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}
@media (max-width: 575px) {
  .wizard-button-circle-forward,
  .wizard-button-circle-backward {
    display: none;
  }
  .wizard-button-gray {
    display: none;
  }
}
</style>
