<template>
  <svg
    @click="$emit('action')"
    class="back-icon"
    xmlns="http://www.w3.org/2000/svg"
    width="20.389"
    height="18.402"
    viewBox="0 0 20.389 18.402"
  >
    <g transform="translate(1.413 1.413)">
      <g class="back-a">
        <line class="back-b" x2="16.809" transform="translate(1.168 7.711)" />
        <line class="back-b" x1="8.567" y2="7.789" />
        <line
          class="back-b"
          x1="8.567"
          y1="7.789"
          transform="translate(0 7.789)"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'AppButtonBack',
  emits: ['action'],
};
</script>

<style scoped>
svg.back-icon {
  width: 18px;
  height: 16px;
  display: none;
}
svg.back-icon .back-a {
  opacity: 0.998;
}
svg.back-icon .back-b {
  fill: none;
  stroke: #3e3e3e;
  stroke-linecap: round;
  stroke-width: 2px;
}
@media (max-width: 575px) {
  svg.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 0;
    border: none;
    margin: 0 !important;
    padding: 0;
    min-width: 0;
    font-size: 0;
    color: #fff;
    width: 18px;
    height: 16px;
    z-index: 1210;
  }
  svg.back-icon {
    display: block;
  }
}
</style>
