<template>
  <button
    class="wizard-button-result"
    :class="[
      size ? `wizard-button--${size}` : '',
      color ? `wizard-button--${color}` : '',
    ]"
    @click="goToURL()"
    v-if="num > 0"
  >
    <span>{{ text }}</span>
  </button>
  <button
    class="wizard-button-result"
    :class="[
      size ? `wizard-button--${size}` : '',
      color ? `wizard-button--${color}` : '',
    ]"
    @click.prevent="clickResult($event)"
    v-else-if="num === 0"
  >
    <span>Отправить заявку</span>
  </button>
</template>

<script>
export default {
  name: 'AppButtonResult',
  data() {
    return {
      num: null,
      text: '',
      url: '',
    };
  },
  props: {
    size: String,
    color: String,
  },
  methods: {
    clickResult(e) {
      this.$store.commit('showHideForm', {
        id: e.target.closest('.wizard-app').getAttribute('id'),
        flag: true,
      });
    },
    goToURL() {
      this.fetchData(true);
    },
    fetchData(final) {
      let resultJSON = {};

      if (final) {
        resultJSON.final = true;
      }

      this.$store.state.stepsData.forEach((stepObject) => {
        switch (stepObject.type) {
          case 'links':
            resultJSON[stepObject.id] = [];
            stepObject.tabs.forEach((tab) => {
              tab.cards.forEach((card) => {
                if (card.checked) {
                  resultJSON[stepObject.id].push(card.id);
                }
              });
            });
            break;

          case 'multiselect':
            resultJSON[stepObject.id] = [];
            stepObject.tabs.forEach((tab) => {
              tab.cards.forEach((card) => {
                if (card.checked) {
                  resultJSON[stepObject.id].push(card.id);
                }
              });
            });
            break;

          case 'form':
            resultJSON[stepObject.id] = {};
            stepObject.fields.blocks.forEach((block) => {
              block.blockFields.forEach((field, index, fieldsArray) => {
                if (field.type !== 'input-radio-img') {
                  resultJSON[stepObject.id][field.name] = field.value;
                } else if (field.type === 'input-radio-img' && index === 0) {
                  fieldsArray.forEach((radioField) => {
                    if (radioField.checked)
                      resultJSON[stepObject.id][radioField.name] =
                        radioField.value;
                  });
                }
              });
            });
            break;

          case 'poll':
            resultJSON[stepObject.id] = [];
            stepObject.tabs.forEach((tab) => {
              tab.checkbox.forEach((checkbox) => {
                if (JSON.parse(checkbox.checked)) {
                  resultJSON[stepObject.id].push(checkbox.name);
                }
              });
            });
            break;
        }
      });

      (async () => {
        let response = await fetch(this.$store.state.resultURL, {
          method: 'POST',
          body: JSON.stringify(resultJSON),
        });
        let data = await response.json();
        if (data.STATUS !== 'Y') return;

        this.num = 1 * data.RESULT.NUM;

        if (data.RESULT.NUM <= 0) return;

        //offers
        let offers = 'предложений';
        if (/(10|11|12|13|14|15|16|17|18|19)$/.test(data.RESULT.NUM)) {
          offers = 'предложений';
        } else if (/.*1$/.test(data.RESULT.NUM)) {
          offers = 'предложение';
        } else if (/[2-4]$/.test(data.RESULT.NUM)) {
          offers = 'предложения';
        }

        this.text = `${data.RESULT.NUM} ${offers}`;
        this.url = data.RESULT.URL;

        if (final) {
          if (window[`yaCounter${window.ymId || 103630}`]) {
            //yaCounter
            window[`yaCounter${window.ymId || 103630}`].reachGoal(
              'WIZARD-CLICK-RESULT'
            );
          } else if (window.ym) {
            //ym
            window.ym(
              window.ymId || 103630,
              'reachGoal',
              'WIZARD-CLICK-RESULT'
            );
          }
          window.location.href = this.url;
        }
      })();
    },
  },
  mounted() {
    //fetch data
    this.fetchData();
  },
};
</script>

<style scoped>
.wizard-button-result {
  border: 0;
  background-color: #9a00ff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  border-radius: 30px;
  min-width: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wizard-button-result:hover {
  opacity: 0.7;
}
/*Colors*/
.wizard-button-result.wizard-button--primary {
  background-color: #9a00ff;
}
.wizard-button-result.wizard-button--secondary {
  background-color: #015bff;
}
.wizard-button-result.wizard-button--secondary:hover {
  opacity: 1;
  background: #004ed6;
}
.wizard-button-result.wizard-button--gray {
  background-color: #fff;
  color: #aaa;
  border: 1px solid #aaa;
}
.wizard-button-result.wizard-button--gray:hover {
  opacity: 1;
  background: #aaa;
  color: #fff;
}
/*Sizes*/
.wizard-button-result.wizard-button--L {
  height: 70px;
  line-height: 70px;
  border-radius: 35px;
  min-width: 290px;
}
.wizard-button-result.wizard-button--M {
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  min-width: 200px;
}
.wizard-button-result.wizard-button--S {
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  min-width: 87px;
  font-size: 12px;
  font-weight: normal;
}
</style>
