<template>
  <div
    class="wizard-form"
    :class="{ 'wizard-form--show': $store.state.formOpen[wizardId] }"
  >
    <div class="wizard-form__close" @click="hideForm">
      <svg
        class="wizard-form__close-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="26.565"
        height="24.565"
        viewBox="0 0 26.565 24.565"
      >
        <g transform="translate(0.565 0.565)">
          <line class="wizard-form__close-icon-a" x2="24" y2="22.307" />
          <line class="wizard-form__close-icon-a" x1="24" y2="22.307" />
        </g>
      </svg>
      <svg
        class="wizard-form__close-icon-mob"
        xmlns="http://www.w3.org/2000/svg"
        width="16.827"
        height="15.839"
        viewBox="0 0 16.827 15.839"
      >
        <g transform="translate(1.413 1.413)">
          <line class="wizard-form__close-icon-mob-a" x2="14" y2="13.012" />
          <line class="wizard-form__close-icon-mob-a" x1="14" y2="13.012" />
        </g>
      </svg>
    </div>
    <div class="wizard-form__content" ref="content">
      <div class="wizard-form__title">Поможем с выбором упаковки</div>
      <p>Мы подберем лучший вариант или оперативно изготовим на заказ.</p>
      <form
        :action="$store.state.formAction"
        :method="$store.state.formMethod"
        ref="form"
        enctype="multipart/form-data"
      >
        <app-form-control
          type="textarea"
          name="MESSAGE"
          label="Напишите нам какую упаковку вы ищете"
          ref="message"
          :val="$store.state.textareaValue"
        ></app-form-control>
        <app-form-control
          type="input:file"
          name="FILE"
          ref="file"
        ></app-form-control>
        <div class="wizard-form__two-cols">
          <app-form-control
            type="input:text"
            name="NAME"
            label="Имя"
            :required="true"
            ref="name"
          ></app-form-control>
          <app-form-control
            type="input:tel"
            name="PHONE"
            label="Телефон"
            :required="true"
            ref="phone"
          ></app-form-control>
        </div>
        <div class="wizard-form__note">
          Нажимая кнопку «Отправить» вы даете согласие на использование
          персональных данных
        </div>
        <div class="wizard-form__button">
          <app-button
            size="M"
            color="secondary"
            text="Отправить"
            @action="clickButton($event)"
          ></app-button>
        </div>
      </form>
      <div class="wizard-form__result" ref="result"></div>
    </div>
  </div>
</template>

<script>
import AppFormControl from './AppFormControl.vue';
import AppButton from './AppButton.vue';

export default {
  name: 'AppForm',
  data() {
    return {
      sentFlag: false,
      wizardId: '',
    };
  },
  methods: {
    hideForm() {
      setTimeout(() => {
        //show form back
        this.$refs.content.classList.remove('result');
        this.$refs.content.classList.remove('animate');
        //make inputs empty
        this.$refs.message.value = '';
        this.$refs.message.setInvalid(false);
        this.$refs.file.clearInputFile();
        this.$refs.name.value = '';
        this.$refs.name.setInvalid(false);
        this.$refs.phone.value = '';
        this.$refs.phone.setInvalid(false);
      }, 500);
      this.$store.commit('showHideForm', {
        id: this.$refs.form.closest('.wizard-app').getAttribute('id'),
        flag: false,
      });
      //hide modal
      if (
        window.jQuery &&
        document.getElementById('wizardModal') &&
        this.sentFlag
      ) {
        window.jQuery('#wizardModal').modal('hide');
      }
    },
    async clickButton() {
      if (this.$refs.name.value.trim() === '') {
        this.$refs.name.setInvalid(true);
        return;
      }
      if (this.$refs.phone.value.trim() === '') {
        this.$refs.phone.setInvalid(true);
        return;
      }

      let formData = new FormData();
      formData.append('MESSAGE', this.$refs.message.getValue());
      formData.append('FILE', this.$refs.file.getValue());
      formData.append('NAME', this.$refs.name.getValue());
      formData.append('PHONE', this.$refs.phone.getValue());

      //response
      let response;
      try {
        response = await fetch(this.$refs.form.getAttribute('action'), {
          method: this.$refs.form.getAttribute('method'),
          headers: {
            Authorization: 'token12345',
          },
          body: formData,
        });
        let result = await response.json();
        if (result && result.STATUS === 'Y') {
          this.$refs.content.classList.add('result');
          this.$refs.result.innerHTML = result.MESSAGE;
          setTimeout(() => {
            this.$refs.content.classList.add('animate');
            this.sentFlag = true;
          }, 100);
          if (window[`yaCounter${window.ymId || 103630}`]) {
            //yaCounter
            window[`yaCounter${window.ymId || 103630}`].reachGoal(
              'WIZARD-SEND-FORM'
            );
          } else if (window.ym) {
            //ym
            window.ym(window.ymId || 103630, 'reachGoal', 'WIZARD-SEND-FORM');
          }
        }
      } catch (err) {
        return;
      }
    },
  },
  components: {
    AppFormControl,
    AppButton,
  },
  mounted() {
    this.wizardId = this.$refs.form.closest('.wizard-app').getAttribute('id');
  },
  updated() {
    if (this.$store.state.formOpen) {
      setTimeout(() => {
        this.$refs.message.value = this.$store.state.textareaValue;
      }, 500);
    }
  },
};
</script>

<style scoped>
.wizard-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  padding: 30px;
  z-index: -1;
}
.wizard-form.wizard-form--show {
  opacity: 1;
  pointer-events: initial;
  z-index: 1200;
}
.wizard-form__close {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}
.wizard-form__close-icon {
  width: 24px;
  height: 24px;
}
.wizard-form__close-icon-a {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 0.8px;
  opacity: 0.7;
}
.wizard-note__close-icon-mob {
  display: none;
}
.wizard-form__content .wizard-form__result {
  display: none;
}
.wizard-form__content.result {
  opacity: 0;
  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wizard-form__content.result.animate {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.wizard-form__content.result .wizard-form__result {
  display: block;
}
.wizard-form__content.result .wizard-form__title,
.wizard-form__content.result p,
.wizard-form__content.result form {
  display: none;
}
.wizard-form__title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}
.wizard-form p {
  text-align: center;
  margin-bottom: 85px;
}
.wizard-form form {
  max-width: 370px;
  margin: 0 auto;
}
.wizard-form__two-cols {
  display: flex;
  justify-content: space-between;
}
.wizard-form__two-cols > div {
  width: calc(50% - 15px);
}
.wizard-form__note {
  font-size: 8px;
  text-align: center;
  color: #888888;
  margin: 0 auto 22px;
  max-width: 190px;
}
.wizard-form__button {
  text-align: center;
}
.wizard-form__button button {
  display: inline-block;
}
@media (max-width: 767px) {
  .wizard-form__close {
    top: 22px;
    right: 22px;
    width: 14px;
    height: 14px;
  }
  .wizard-form__close::before,
  .wizard-form__close::after {
    height: 16px;
    top: -1px;
    left: 7px;
  }
  .wizard-form__title {
    margin-bottom: 20px;
  }
  .wizard-form p {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .wizard-form__two-cols {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .wizard-form__close {
    width: 14px;
    height: 14px;
    top: 20px;
    right: 20px;
  }
  .wizard-form__close-icon {
    display: none;
  }
  .wizard-form__close-icon-mob {
    display: block;
    width: 14px;
    height: 14px;
  }
  .wizard-form__close-icon-mob-a {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 2px;
    opacity: 0.7;
  }
}
</style>
