<template>
  <div
    class="wizard-form-control wizard-form-control--textarea"
    :class="{ invalid: isInvalid }"
    v-if="type === 'textarea'"
  >
    <textarea
      :name="name"
      :id="'FORM_CONTROL_' + name + '_' + key"
      v-model="value"
      @focus="focus()"
      @blur="blur()"
    ></textarea>
    <label
      :class="{ active: isActive }"
      :for="'FORM_CONTROL_' + name + '_' + key"
      >{{ label }}<span v-if="required">*</span></label
    >
  </div>
  <div
    class="wizard-form-control wizard-form-control--file"
    ref="controlFile"
    v-else-if="type === 'input:file'"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12.297"
      height="12.43"
      viewBox="0 0 12.297 12.43"
    >
      <g transform="translate(0.501 0.5)">
        <path
          class="a"
          d="M-22097.062,1042.255v4.312h11.3v-4.312"
          transform="translate(22097.063 -1035.136)"
        />
        <path
          class="a"
          d="M0,0,3.144,3.163,6.19,0"
          transform="translate(8.623 3.163) rotate(180)"
        />
        <path
          class="b"
          d="M0,0V8.273"
          transform="translate(5.565 8.376) rotate(180)"
        />
      </g>
    </svg>
    <input
      type="file"
      :name="name"
      :id="'FORM_CONTROL_' + name + '_' + key"
      @change="uploadFile()"
      ref="inputFile"
    />
    <label
      :for="'FORM_CONTROL_' + name + '_' + key"
      v-html="label || '<a href>Выберите файлы</a> или перетащите'"
      ref="dropzone"
    ></label>
  </div>
  <div
    class="wizard-form-control wizard-form-control--text"
    :class="{ invalid: isInvalid }"
    v-else-if="type === 'input:text'"
  >
    <input
      type="text"
      :name="name"
      :id="'FORM_CONTROL_' + name + '_' + key"
      v-model="value"
      @focus="focus()"
      @blur="blur()"
    />
    <label
      :class="{ active: isActive }"
      :for="'FORM_CONTROL_' + name + '_' + key"
      >{{ label }}<span v-if="required">*</span></label
    >
  </div>
  <div
    class="wizard-form-control wizard-form-control--text"
    :class="{ invalid: isInvalid }"
    v-else-if="type === 'input:tel'"
  >
    <input
      type="tel"
      :name="name"
      :id="'FORM_CONTROL_' + name + '_' + key"
      v-model="value"
      @focus="focus()"
      @blur="blur()"
      v-maska="'+7 (###) ###-##-##'"
    />
    <label
      :class="{ active: isActive }"
      :for="'FORM_CONTROL_' + name + '_' + key"
      >{{ label }}<span v-if="required">*</span></label
    >
  </div>
</template>

<script>
export default {
  name: 'AppFormControl',
  data() {
    return {
      value: this.$store.state.textareaValue,
      isFocused: false,
      isInvalid: false,
      files: 'files',
      key: parseInt(new Date().getTime() * Math.random()),
    };
  },
  computed: {
    isActive() {
      if (this.value !== '' || this.isFocused) {
        return true;
      }
      return false;
    },
  },
  props: {
    type: String,
    name: String,
    label: String,
    required: {
      type: Boolean,
      default() {
        return false;
      },
    },
    val: [String],
  },
  methods: {
    setInvalid(value) {
      this.isInvalid = value;
    },
    focus() {
      //label
      this.isFocused = true;
      //reset invalid
      this.isInvalid = false;
    },
    blur() {
      //label
      this.isFocused = false;
      //form control validation
      if (this.required && this.value.trim() === '') {
        this.isInvalid = true;
      }
    },
    uploadFile() {
      this.files = this.$refs.inputFile.files;
      this.$refs.controlFile.classList.add('filled');
      this.$refs.dropzone.innerHTML = this.files[0].name;
    },
    clearInputFile() {
      this.files = [];
      this.$refs.controlFile.classList.remove('filled');
      this.$refs.dropzone.innerHTML =
        '<a href>Выберите файлы</a> или перетащите';
    },
    cancelEvent(e) {
      e.preventDefault();
      e.stopPropagation();
      return false;
    },
    getCoords(elem) {
      let box = elem.getBoundingClientRect();

      return {
        top: box.top + pageYOffset,
        left: box.left + pageXOffset,
      };
    },
    getValue() {
      if (this.type === 'input:file') {
        return this.files[0];
      }
      return this.value;
    },
  },
  mounted() {
    //drag&drop file
    //drag&drop file
    const dropZone = this.$refs.dropzone;
    const controlFile = this.$refs.controlFile;
    if (!dropZone) {
      return;
    }
    dropZone.addEventListener('drag', this.cancelEvent);
    dropZone.addEventListener('dragstart', this.cancelEvent);
    dropZone.addEventListener('dragend', this.cancelEvent);
    dropZone.addEventListener('dragover', this.cancelEvent);
    dropZone.addEventListener('dragenter', this.cancelEvent);
    dropZone.addEventListener('dragleave', this.cancelEvent);
    dropZone.addEventListener('drop', this.cancelEvent);

    dropZone.addEventListener('dragover', () => {
      controlFile.classList.add('dragover');
    });
    dropZone.addEventListener('dragenter', () => {
      controlFile.classList.add('dragover');
    });
    dropZone.addEventListener('dragleave', (e) => {
      let dx = e.pageX - this.getCoords(dropZone).left;
      let dy = e.pageY - this.getCoords(dropZone).top;
      if (
        dx < 0 ||
        dx > dropZone.clientWidth ||
        dy < 0 ||
        dy > dropZone.clientHeight
      ) {
        controlFile.classList.remove('dragover');
      }
    });

    dropZone.addEventListener('drop', (e) => {
      controlFile.classList.remove('dragover');
      controlFile.classList.add('filled');
      this.files = e.dataTransfer.files;
      dropZone.innerHTML = this.files[0].name;
    });
  },
};
</script>

<style scoped>
.wizard-form-control {
  margin-bottom: 30px;
  position: relative;
}
.wizard-form-control label span {
  color: #9a00ff;
}
/*Textarea*/
.wizard-form-control--textarea textarea {
  width: 100%;
  border: 0;
  background-color: #fff;
  font-size: 14px;
  height: 100px;
  resize: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: block;
}
.wizard-form-control--textarea textarea:focus {
  outline: none;
}
.wizard-form-control--textarea.invalid textarea {
  background-color: #ffdddd;
  color: #ff0000;
}
.wizard-form-control--textarea.invalid label,
.wizard-form-control--textarea.invalid label span {
  color: #ff0000;
}
.wizard-form-control--textarea label {
  color: #000000;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 14px;
  cursor: text;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
  width: calc(100% - 40px);
}
.wizard-form-control--textarea label.active {
  -webkit-transform: translateY(-18px) scale(0.7);
  transform: translateY(-18px) scale(0.7);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/*Text*/
.wizard-form-control--text input {
  width: 100%;
  border: 0;
  background-color: #fff;
  font-size: 14px;
  height: 47px;
  padding: 0 20px;
  border-radius: 5px;
}
.wizard-form-control--text input:focus {
  outline: none;
}
.wizard-form-control--text label {
  color: #000000;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 14px;
  cursor: text;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
  width: calc(100% - 40px);
}
.wizard-form-control--text label.active {
  -webkit-transform: translateY(-18px) scale(0.7);
  transform: translateY(-18px) scale(0.7);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.wizard-form-control--text.invalid input {
  background-color: #ffdddd;
  color: #ff0000;
}
.wizard-form-control--text.invalid label,
.wizard-form-control--text.invalid label span {
  color: #ff0000;
}

/*File*/
.wizard-form-control--file {
  position: relative;
}
.wizard-form-control--file svg {
  position: absolute;
  top: 16px;
  left: 20px;
  z-index: 10;
}
.wizard-form-control--file input {
  display: none;
}
.wizard-form-control--file label {
  display: block;
  background-color: #fff;
  background-size: 12px;
  font-size: 14px;
  height: 47px;
  line-height: 47px;
  padding: 0 20px 0 50px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
</style>

<style>
.wizard-form-control--file label a {
  pointer-events: none;
}
.wizard-form-control--file .a,
.wizard-form-control--file .b {
  fill: none;
  stroke: #707070;
  stroke-linecap: round;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.wizard-form-control--file label .a {
  stroke-linejoin: round;
}
.wizard-form-control--file:hover .a,
.wizard-form-control--file:hover .b {
  stroke: #015bff;
}
.wizard-form-control--file:active .a,
.wizard-form-control--file:active .b,
.wizard-form-control--file.dragover .a,
.wizard-form-control--file.dragover .b,
.wizard-form-control--file.filled .a,
.wizard-form-control--file.filled .b {
  stroke: #fff;
}
.wizard-form-control--file:active label,
.wizard-form-control--file.dragover label,
.wizard-form-control--file.filled label {
  background-color: #015bff;
  color: #fff;
}
.wizard-app .wizard-form-control--file:active label a,
.wizard-app .wizard-form-control--file.dragover label a,
.wizard-app .wizard-form-control--file.filled label a {
  color: #fff;
}
</style>
