<template>
  <div class="wizard-header" v-if="type !== 'main'">
    <div class="wizard-header__text">Шаг {{ current }}/{{ total }}</div>
    <div class="wizard-header__indicator">
      <div
        v-for="(s, idx) in notMainStepsIds"
        :key="s"
        :class="{ active: idx <= current - 1 ? true : false }"
        @click="clickIndicator($event, idx)"
      ></div>
    </div>
    <div class="wizard-header__title">{{ title }}</div>
  </div>
</template>

<script>
export default {
  name: 'AppHeader',
  data() {
    return {
      //ids of steps that are not of 'main' type
      notMainStepsIds: this.getNotMainStepsIds(),
    };
  },
  computed: {
    activeStepId() {
      return this.$store.state.steps[this.$store.state.activeStepIndex];
    },
    current() {
      let i;
      this.notMainStepsIds.forEach((id, index) => {
        if (id === this.activeStepId) {
          i = index;
        }
      });

      return i + 1;
    },
    total() {
      return this.notMainStepsIds.length;
    },
    title() {
      const activeStepIndexObject = this.$store.state.stepsData.filter(
        (stepObject) => {
          return stepObject.id === this.activeStepId;
        }
      )[0];
      return activeStepIndexObject.title;
    },
    type() {
      const activeStepIndexObject = this.$store.state.stepsData.filter(
        (stepObject) => {
          return stepObject.id === this.activeStepId;
        }
      )[0];
      return activeStepIndexObject.type;
    },
  },
  methods: {
    getNotMainStepsIds() {
      return this.$store.state.stepsData
        .filter((stepObject) => {
          return stepObject.type !== 'main';
        })
        .map((stepObject) => {
          return stepObject.id;
        });
    },
    clickIndicator(event, stepIndex) {
      if (!event.target.classList.contains('active')) {
        return;
      }
      let id = this.notMainStepsIds[stepIndex];
      let index;
      for (let i in this.$store.state.stepsData) {
        if (this.$store.state.stepsData[i].id === id) {
          index = i;
        }
      }
      this.$store.commit('setActiveStepIndex', {
        step: 1 * index,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
    },
  },
};
</script>

<style scoped>
.wizard-header {
  margin-bottom: 30px;
}
/*Text*/
.wizard-header__text {
  font-size: 14px;
  color: #aaaaaa;
  text-align: center;
  margin-bottom: 16px;
}
/*Indicator*/
.wizard-header__indicator {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.wizard-header__indicator div {
  width: 48px;
  height: 2px;
  background-color: #f0f0f0;
  margin: 0 5px;
  position: relative;
}
.wizard-header__indicator div.active {
  cursor: pointer;
}
.wizard-header__indicator div::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9a00ff;
  width: 0;
  height: 2px;
  -wekit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
  z-index: 1;
}
.wizard-header__indicator div.active::before {
  width: 48px;
}
/*Title*/
.wizard-header__title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 575px) {
  .wizard-header__text {
    font-size: 10px;
    margin-bottom: 7px;
  }
  .wizard-header__indicator div {
    width: 22px;
    height: 2px;
    margin: 0 2px;
  }
  .wizard-header__indicator div.active::before {
    width: 22px;
  }
}
</style>
