<template>
  <div class="wizard-note">
    <div class="wizard-note__icon" @click="clickIcon()">?</div>
    <div class="wizard-note__popup" ref="popup">
      <div class="wizard-note__close" @click="hidePopup">
        <svg
          class="wizard-form__close-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="26.565"
          height="24.565"
          viewBox="0 0 26.565 24.565"
        >
          <g transform="translate(0.565 0.565)">
            <line class="wizard-form__close-icon-a" x2="24" y2="22.307" />
            <line class="wizard-form__close-icon-a" x1="24" y2="22.307" />
          </g>
        </svg>
        <svg
          class="wizard-note__close-icon-mob"
          xmlns="http://www.w3.org/2000/svg"
          width="16.827"
          height="15.839"
          viewBox="0 0 16.827 15.839"
        >
          <g transform="translate(1.413 1.413)">
            <line class="wizard-note__close-icon-mob-a" x2="14" y2="13.012" />
            <line class="wizard-note__close-icon-mob-a" x1="14" y2="13.012" />
          </g>
        </svg>
      </div>
      <div class="container" v-html="note"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppNote',
  data() {
    return {};
  },
  props: {
    note: String,
  },
  methods: {
    clickIcon() {
      this.showPopup();
    },
    showPopup() {
      this.$refs.popup.classList.add('wizard-note--show');
    },
    hidePopup() {
      this.$refs.popup.classList.remove('wizard-note--show');
    },
  },
};
</script>

<style>
.wizard-note {
  position: relative;
}
.wizard-note__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  cursor: pointer;
  z-index: 1;
}
.wizard-note__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  z-index: -1;
}
.wizard-note__popup h3 {
  font-size: 17px;
  font-weight: bold;
  color: #404040;
  margin: 20px 0 35px;
}
.wizard-note__popup ul {
  padding-left: 15px;
}
.wizard-note__popup li {
  margin-bottom: 5px;
}
.wizard-note__popup li::marker {
  color: #9a00ff;
}
.wizard-note__popup.wizard-note--show {
  opacity: 1;
  pointer-events: initial;
  z-index: 1200;
}
.wizard-note__close {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}
.wizard-form__close-icon {
  width: 24px;
  height: 24px;
}
.wizard-form__close-icon-a {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 0.8px;
  opacity: 0.7;
}
.wizard-note__close-icon-mob {
  display: none;
}
@media (max-width: 767px) {
  .wizard-note__popup {
    display: block;
    overflow-y: auto;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .wizard-note__close {
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
  }
  .wizard-note__close::before,
  .wizard-note__close::after {
    height: 27px;
    top: -1px;
    left: 12px;
  }
}
@media (max-width: 575px) {
  .wizard-note__close {
    width: 14px;
    height: 14px;
    top: 20px;
    right: 20px;
  }
  .wizard-form__close-icon {
    display: none;
  }
  .wizard-note__close-icon-mob {
    display: block;
    width: 14px;
    height: 14px;
  }
  .wizard-note__close-icon-mob-a {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 2px;
    opacity: 0.7;
  }
}
</style>
