<template>
  <div class="wizard-tabs">
    <div class="wizard-tabs__nav" v-if="tabs && tabs.length > 1">
      <div class="wizard-tabs__nav__wrapper" ref="wrapper">
        <div
          class="wizard-tabs__nav__item"
          v-for="(tab, index) in tabs"
          :key="tab.title"
          :class="{ active: index === activeTab }"
          @click="clickTab(index)"
        >
          {{ tab.title }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppTabs',
  data() {
    return {
      activeTab: 0,
      tabs: this.tabsObject || {},
    };
  },
  props: {
    tabsObject: Object,
  },
  emits: ['navigateTab'],
  methods: {
    clickTab(index) {
      //set as active
      this.activeTab = index;

      //move tabs wrapper
      this.moveTabsWrapper();

      //emit event
      this.$emit('navigateTab', this.activeTab);
    },
    moveTabsWrapper() {
      const index = this.activeTab;
      if (window.matchMedia('(min-width: 576px)').matches) {
        //desktop
        this.$refs.wrapper.style.marginLeft = `-${(index *
          (210 * this.tabs.length - 550)) /
          3}px`;
      } else {
        //mobile
        let scroll = `${(index *
          (210 * this.tabs.length - (window.innerWidth - 30))) /
          3}`;
        this.animateScroll(
          this.$refs.wrapper,
          this.$refs.wrapper.scrollLeft,
          scroll,
          300
        );
      }
    },
    animateScroll(elem, start, end, time) {
      const dif = Math.round(end - start);
      if (dif === 0) return;

      const step = Math.round(dif / (time / 10));
      let counter = 0;

      const intervalId = setInterval(() => {
        elem.scrollLeft = start + step * ++counter;

        if (
          (step > 0 && start + step * counter > end) ||
          (step < 0 && start + step * counter < end)
        ) {
          elem.scrollLeft = end;
          clearInterval(intervalId);
          return;
        }
      }, 10);
    },
  },
  mounted() {
    if (this.tabs.length > 1) {
      this.moveTabsWrapper();
    }
  },
};
</script>

<style scoped>
/*Nav*/
.wizard-tabs {
  min-height: 48px;
  margin-bottom: 30px;
}
.wizard-tabs__nav {
  width: 600px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
}
.wizard-tabs__nav::before,
.wizard-tabs__nav::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
}
.wizard-tabs__nav::before {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}
.wizard-tabs__nav::after {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}
.wizard-tabs__nav__wrapper {
  display: flex;
  justify-content: flex-start;
  -webkit-transition: margin-left 0.5s ease-out;
  transition: margin-left 0.5s ease-out;
}
.wizard-tabs__nav__item {
  min-width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 12px;
  background-color: #f7f7f7;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #000;
  cursor: pointer;
  margin: 0 5px;
  padding: 0 10px;
  -webkit-user-select: none;
  user-select: none;
}
.wizard-tabs__nav__item.active {
  background-color: #9a00ff;
  color: #fff;
  cursor: default;
}

@media (max-width: 575px) {
  .wizard-tabs {
    min-height: calc(58px + 20px);
    margin: 0 -15px;
  }
  .wizard-tabs__nav {
    width: auto;
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .wizard-tabs__nav::before,
  .wizard-tabs__nav::after {
    width: 20px;
    display: none;
  }
  .wizard-tabs__nav__wrapper {
    overflow-x: auto;
    padding: 0 10px 10px;
    margin: 0 -15px;
  }
}
</style>
