<template>
  <a href="" class="wizard-card-link" @click.prevent="clickCard($event)">
    <span class="wizard-card-link__body">
      <span class="wizard-card-link__wrapper">
        <img :src="card.img" alt="" />
        <span v-html="card.title"></span>
      </span>
    </span>
  </a>
</template>

<script>
export default {
  name: 'CardLink',
  props: {
    card: Object,
    cardIndex: Number,
    activeTab: Number,
    stepId: String,
  },
  methods: {
    clickCard(event) {
      //reset tab
      //tab = 0
      //next step
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex + 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
      //set result
      this.$store.commit('pushResultStepLinks', {
        activeTab: this.activeTab,
        cardIndex: this.cardIndex,
        stepId: this.stepId,
      });
      //ym
      if (window[`yaCounter${window.ymId || 103630}`]) {
        //yaCounter
        window[`yaCounter${window.ymId || 103630}`].reachGoal(
          'WIZARD-NEXT-STEP',
          {
            step: `${this.$store.state.activeStepIndex + 1}/${
              this.$store.state.steps.length
            }`,
          }
        );
      } else if (window.ym) {
        //ym
        window.ym(window.ymId || 103630, 'reachGoal', 'WIZARD-NEXT-STEP', {
          step: `${this.$store.state.activeStepIndex + 1}/${
            this.$store.state.steps.length
          }`,
        });
      }
    },
  },
};
</script>

<style scoped>
.wizard-card-link {
  display: block;
  border-radius: 20px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  width: 170px;
  height: 170px;
  text-decoration: none;
}
.wizard-content-pages__content .wizard-card-link {
  width: calc((100% - 30px * 3) / 4);
  height: auto;
  margin-bottom: 30px;
}
.wizard-app a.wizard-card-link,
.wizard-app a.wizard-card-link:hover,
.wizard-app a.wizard-card-link:visited,
.wizard-app a.wizard-card-link:active {
  color: #000;
}
.wizard-card-link:hover {
  background-color: #f5f5f5;
}
.wizard-card-link__body {
  display: block;
  padding-top: 100%;
  position: relative;
}
.wizard-card-link__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 20px 20px;
  z-index: 1;
}
.wizard-card-link__wrapper img {
  display: block;
  margin: 0 auto 20px;
  min-width: 50px;
  min-height: 50px;
  width: 50%;
  height: auto;
}
.wizard-card-link__wrapper span {
  display: block;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 991px) {
  .wizard-content-pages__content .wizard-card-link {
    width: calc((100% - 30px * 2) / 3);
  }
}
@media (max-width: 767px) {
  .wizard-content-pages__content .wizard-card-link {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 575px) {
  .wizard-card-link,
  .wizard-content-pages__content .wizard-card-link {
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 15px 30px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .wizard-card-link:hover {
    background-color: transparent;
  }
  .wizard-card-link__body {
    display: block;
    padding-top: 0;
    position: relative;
  }
  .wizard-card-link__wrapper {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding: 0;
    display: flex;
    align-items: center;
  }
  .wizard-card-link__wrapper img {
    margin: 0 40px 0 0;
    width: 32px;
    height: 32px;
  }
  .wizard-card-link__wrapper span {
    font-size: 11px;
    text-align: left;
  }
}
</style>
