<template>
  <div
    class="wizard-card-checkbox"
    @click.prevent="clickCard()"
    :class="{ checked: card.checked }"
  >
    <div class="wizard-card-checkbox__body">
      <div class="wizard-card-checkbox__img" :style="background"></div>
      <span v-html="card.title"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardCheckbox',
  props: {
    card: Object,
    stepName: String,
    activeTab: Number,
    cardIndex: Number,
    stepId: String,
  },
  computed: {
    background() {
      return `background-image: url('${this.card.img}')`;
    },
  },
  methods: {
    clickCard() {
      //set result
      const uppercaseStepName = `S${this.stepName.substring(1)}`;
      this.$store.commit(`pushResult${uppercaseStepName}`, {
        activeTab: this.activeTab,
        cardIndex: this.cardIndex,
        checked: !this.card.checked,
        stepId: this.stepId,
      });
    },
  },
};
</script>

<style scoped>
.wizard-card-checkbox {
  display: block;
  border-radius: 20px;
  -webkit-transition: background-color 0.3s ease-in, border-color 0.3s ease;
  transition: background-color 0.3s ease-in, border-color 0.3s ease;
  width: 170px;
  height: 170px;
  cursor: pointer;
  border: 2px solid #fff;
}
.wizard-content-pages__content .wizard-card-checkbox {
  width: calc((100% - 30px * 3) / 4);
  height: auto;
  margin-bottom: 30px;
}
.wizard-card-checkbox:hover {
  background-color: #f5f5f5;
}
.wizard-card-checkbox.checked {
  border-color: #f9381c;
}
.wizard-card-checkbox__body {
  display: block;
  padding-top: 100%;
  position: relative;
}
.wizard-card-checkbox__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 66%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: border-radius 0.3s ease;
  transition: border-radius 0.3s ease;
  z-index: 1;
}
.wizard-card-checkbox.checked .wizard-card-checkbox__img {
  border-radius: 20px 20px 0 0;
}
.wizard-card-checkbox__body span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34%;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .wizard-content-pages__content .wizard-card-checkbox {
    width: calc((100% - 30px * 2) / 3);
  }
}
@media (max-width: 767px) {
  .wizard-content-pages__content .wizard-card-checkbox {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 575px) {
  .wizard-card-checkbox,
  .wizard-content-pages__content .wizard-card-checkbox {
    height: auto;
    width: calc((100% - 10px) / 2);
    margin-bottom: 10px;
    margin-left: 15px;
    flex-shrink: 0;
  }
  .wizard-card-checkbox:last-of-type,
  .wizard-content-pages__content .wizard-card-checkbox:last-of-type {
    margin-right: 15px;
  }
  .wizard-card-checkbox__body {
    padding-top: 0;
    position: static;
  }
  .wizard-card-checkbox__img {
    padding-top: 100%;
    height: auto;
    position: static;
  }
  .wizard-card-checkbox__body span {
    position: static;
    min-height: 60px;
  }
}
</style>
