<template>
  <div class="wizard-content-pages__buttons">
    <app-button
      circle="backward"
      @action="clickBackward()"
      :class="{ disabled: disabled.forward }"
    ></app-button>
    <app-button
      circle="forward"
      @action="clickForward()"
      :class="{
        disabled: disabled.backward,
      }"
    ></app-button>
  </div>

  <div
    class="wizard-content-pages__content"
    :class="{ scrollable: stepName === 'stepMultiselect' ? true : false }"
    ref="content"
  >
    <component
      :is="componentName"
      v-for="(card, cardIndex) in cards"
      :key="card.id"
      :card="card"
      :stepName="stepName"
      :cardIndex="cardIndex + (page - 1) * itemsPerPage"
      :activeTab="activeTab"
      :stepId="stepId"
    ></component>

    <span
      v-for="placeholder in itemsPerPage - cards.length"
      :key="placeholder"
      class="wizard-content-pages__placeholder"
    ></span>
  </div>
</template>

<script>
import AppButton from './AppButton.vue';
import CardLink from './CardLink.vue';
import CardCheckbox from './CardCheckbox.vue';

export default {
  name: 'ContentPages',
  data() {
    return {
      page: 1,
      itemsPerPage: 8,
      oldTab: 0,
    };
  },
  props: {
    items: Object,
    componentName: String,
    stepName: String,
    activeTab: Number,
    stepId: String,
  },
  computed: {
    start() {
      return (this.page - 1) * this.itemsPerPage;
    },
    end() {
      const length = this.items.length;
      return this.start + this.itemsPerPage - 1 > length - 1
        ? length - 1
        : this.start + this.itemsPerPage - 1;
    },
    cards() {
      let i = this.start;
      let result = [];

      while (i <= this.end) {
        result.push(this.items[i]);
        i++;
      }

      return result;
    },
    disabled() {
      return {
        forward: this.page === 1,
        backward: this.page >= Math.ceil(this.items.length / this.itemsPerPage),
      };
    },
  },
  methods: {
    clickBackward() {
      this.page--;
    },
    clickForward() {
      this.page++;
    },
  },
  components: {
    AppButton,
    CardLink,
    CardCheckbox,
  },
  created() {
    if (window.matchMedia('(max-width: 575px)').matches) {
      this.itemsPerPage = this.items.length;
    } else if (window.matchMedia('(max-width: 767px)').matches) {
      this.itemsPerPage = 4;
    } else if (window.matchMedia('(max-width: 991px)').matches) {
      this.itemsPerPage = 6;
    } else {
      this.itemsPerPage = 8;
    }
  },
  beforeUpdate() {
    this.$refs.content.classList.remove('updated');
    this.$refs.content.classList.add('before-update');
    this.$refs.content.scrollTop = 0;
    this.$refs.content.scrollLeft = 0;
    //set first page
    if (this.oldTab !== this.activeTab) {
      this.page = 1;
      this.oldTab = this.activeTab;
    }
  },
  updated() {
    setTimeout(() => {
      this.$refs.content.classList.add('updated');
    }, 100);
    setTimeout(() => {
      this.$refs.content.classList.remove('before-update');
      this.$refs.content.classList.remove('updated');
    }, 500);
  },
};
</script>

<style scoped>
.wizard-content-pages__buttons {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.wizard-content-pages__buttons .wizard-button-circle-backward {
  position: absolute;
  top: 150px;
  left: -80px;
  z-index: 1;
}
.wizard-content-pages__buttons .wizard-button-circle-forward {
  position: absolute;
  top: 150px;
  right: -80px;
  z-index: 1;
}
.wizard-content-pages__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 70%;
  min-height: 430px;
  margin: 0 auto 30px;
}
.wizard-content-pages__content:after {
  content: '';
  width: calc((100% - 30px * 3) / 4);
}
.wizard-content-pages__content.before-update > a,
.wizard-content-pages__content.before-update > span {
  opacity: 0;
}
.wizard-content-pages__content.updated > a,
.wizard-content-pages__content.updated > span {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.wizard-content-pages__content.updated > a:nth-child(1),
.wizard-content-pages__content.updated > span:nth-child(1) {
  -webkit-transition-delay: 0;
  transition-delay: 0;
  opacity: 1;
}
.wizard-content-pages__content.updated > a:nth-child(2),
.wizard-content-pages__content.updated > span:nth-child(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  opacity: 1;
}
.wizard-content-pages__content.updated > a:nth-child(3),
.wizard-content-pages__content.updated > span:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}
.wizard-content-pages__content.updated > a:nth-child(4),
.wizard-content-pages__content.updated > span:nth-child(4) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  opacity: 1;
}
.wizard-content-pages__content.updated > a:nth-child(5),
.wizard-content-pages__content.updated > span:nth-child(5) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}
.wizard-content-pages__content.updated > a:nth-child(6),
.wizard-content-pages__content.updated > span:nth-child(6) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  opacity: 1;
}
.wizard-content-pages__content.updated > a:nth-child(7),
.wizard-content-pages__content.updated > span:nth-child(7) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
}
.wizard-content-pages__content.updated > a:nth-child(8),
.wizard-content-pages__content.updated > span:nth-child(8) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
  opacity: 1;
}
.wizard-content-pages__placeholder {
  width: calc((100% - 30px * 3) / 4);
  margin-bottom: 30px;
  background-color: #fafafa;
  border-radius: 20px;
  padding-top: calc((100% - 30px * 3) / 4);
}
@media (max-width: 991px) {
  .wizard-content-pages__placeholder {
    width: calc((100% - 30px * 2) / 3);
    padding-top: calc((100% - 30px * 2) / 3);
  }
  .wizard-content-pages__content:after {
    width: calc((100% - 30px * 2) / 3);
  }
}
@media (max-width: 767px) {
  .wizard-content-pages__placeholder {
    width: calc((100% - 30px) / 2);
    padding-top: calc((100% - 30px) / 2);
  }
  .wizard-content-pages__content:after {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 575px) {
  .wizard-content-pages__content {
    display: block;
    width: auto;
    min-height: 0;
    height: calc(
      100vh - 30px - (30px * 2 + 30px + 60px + 30px + 58px + 20px + 60px + 30px)
    );
    margin: 0;
    overflow-y: auto;
  }
  .wizard-content-pages__content.scrollable {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: none;
    height: auto;
    margin: 0 -15px 25px;
  }
  .wizard-content-pages__placeholder {
    display: none;
  }
}
</style>
