<template>
  <div class="wizard-content-one-page__content">
    <component
      :is="componentName"
      v-for="(item, itemIndex) in items"
      :key="item.name"
      :item="item"
      :itemIndex="itemIndex"
      :activeTab="activeTab"
      :stepId="stepId"
    ></component>
  </div>
</template>

<script>
import FormControlInputCheckbox from './FormControlInputCheckbox.vue';

export default {
  name: 'ContentPages',
  data() {
    return {};
  },
  props: {
    items: Object,
    componentName: String,
    activeTab: Number,
    stepId: String,
  },
  components: {
    FormControlInputCheckbox,
  },
};
</script>

<style scoped>
.wizard-content-one-page__content {
  max-width: 370px;
  margin: 0 auto 30px;
  min-height: 430px;
}
@media (max-width: 575px) {
  .wizard-content-one-page__content {
    min-height: 0;
    height: calc(
      100vh - 30px - (30px * 2 + 30px + 60px + 30px + 58px + 20px + 60px + 30px)
    );
    overflow-y: auto;
  }
}
</style>
