<template>
  <label class="form-control-input-checkbox">
    <input
      type="checkbox"
      :name="item.name"
      v-model="value"
      @change="changeCheckbox"
    />
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13.435"
        height="9.9"
        viewBox="0 0 13.435 9.9"
      >
        <g transform="translate(188.09 -386.08) rotate(45)">
          <rect
            class="a"
            width="8"
            height="3"
            rx="1.5"
            transform="translate(143 406)"
          />
          <rect
            class="a"
            width="3"
            height="11"
            rx="1.5"
            transform="translate(148 398)"
          />
        </g>
      </svg>
      {{ item.label }}</span
    >
  </label>
</template>

<script>
export default {
  name: 'FormControlInputCheckbox',
  data() {
    return {
      value: this.item.checked,
    };
  },
  props: {
    item: Object,
    itemIndex: Number,
    activeTab: Number,
    stepId: String,
  },
  methods: {
    changeCheckbox() {
      this.$store.commit('pushResultStepPoll', {
        activeTab: this.activeTab,
        itemIndex: this.itemIndex,
        checked: this.value,
        stepId: this.stepId,
      });
    },
  },
};
</script>

<style>
.form-control-input-checkbox .a {
  fill: #fff;
}
</style>

<style scoped>
.form-control-input-checkbox {
  display: flex;
  align-items: center;
  min-height: 70px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.form-control-input-checkbox:hover {
  background-color: #f7f7f7;
}
.form-control-input-checkbox input {
  display: none;
}
.form-control-input-checkbox span {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-control-input-checkbox input + span::after {
  top: -3px;
}
.form-control-input-checkbox input + span svg {
  margin-top: 3px;
}
.form-control-input-checkbox input + span svg,
.form-control-input-checkbox input + span::after {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
    height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
    height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
.form-control-input-checkbox input:not(:checked) + span svg {
  width: 0;
  height: 0;
  top: 8px;
  left: 14px;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.form-control-input-checkbox input:checked + span svg {
  top: 3px;
  left: 8px;
  width: 15px;
  height: 13px;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.form-control-input-checkbox input:checked + span::after {
  width: 32px;
  height: 32px;
  background-color: #9a00ff;
  z-index: 0;
}
.form-control-input-checkbox input + span svg,
.form-control-input-checkbox input + span::after {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
    height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
    height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
}
.form-control-input-checkbox input + span::after {
  border-radius: 10px;
}
.form-control-input-checkbox input:not(:checked) + span::after {
  height: 32px;
  width: 32px;
  background-color: #efefef;
  z-index: 0;
}
</style>
