<template>
  <div class="form-control-label">
    <textarea
      id="height"
      v-model="value"
      @focus="isFocused = true"
      @blur="isFocused = false"
    ></textarea>
    <label :class="{ active: isActive }" for="height">Высота</label>
  </div>
</template>

<script>
export default {
  name: 'FormControlTextarea',
  data() {
    return {
      value: '',
      isFocused: false,
    };
  },
  computed: {
    isActive() {
      if (this.value !== '' || this.isFocused) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style scoped>
.form-control-label {
  position: relative;
}
.form-control-label label {
  color: #000000;
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  cursor: text;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  transform: translateY(1rem);
}
.form-control-label label.active {
  -webkit-transform: translateY(-15px) scale(0.7);
  transform: translateY(-15px) scale(0.7);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
textarea {
  background-color: #f4f4f4;
  height: 200px;
  display: block;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}
textarea:focus {
  outline: none;
}
</style>
