<template>
  <div>
    <app-note v-if="field.note" :note="field.note"></app-note>
    <label
      class="form-control-input-radio-img"
      :class="{ checked: field.checked }"
    >
      <input
        type="radio"
        :name="name + '-' + formId"
        :value="value"
        ref="input"
        :checked="field.checked"
        @change="changeRadio()"
      />
      <span
        class="form-control-input-radio-img__img"
        :style="background"
      ></span>
      <span class="form-control-input-radio-img__label">{{ label }}</span>
    </label>
  </div>
</template>

<script>
import AppNote from './AppNote.vue';

export default {
  name: 'FormControlInputRadioImg',
  data() {
    return {
      label: this.field.label,
      name: this.field.name,
      value: this.field.value,
      background: `background-image: url('${this.field.img}')`,
    };
  },
  props: {
    field: Object,
    blockIndex: Number,
    fieldIndex: Number,
    stepId: String,
    formId: Number,
  },
  methods: {
    changeRadio() {
      this.pushResult();
    },
    pushResult() {
      this.$store.commit('pushResultStepForm', {
        blockIndex: this.blockIndex,
        fieldIndex: this.fieldIndex,
        checked: true,
        stepId: this.stepId,
      });
    },
  },
  components: {
    AppNote,
  },
};
</script>

<style scoped>
.form-control-input-radio-img input {
  display: none;
}
.form-control-input-radio-img {
  height: 47px;
  border-radius: 24px;
  padding: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.form-control-input-radio-img:hover {
  background-color: #f9f9f9;
}
.form-control-input-radio-img__img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 16px;
  border: 1px solid #efefef;
  box-sizing: content-box;
  flex-shrink: 0;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.form-control-input-radio-img
  input:checked
  + .form-control-input-radio-img__img {
  border-color: #9a00ff;
  border-width: 2px;
}
.form-control-input-radio-img__label {
  width: calc(100% - 33px - 4px - 16px);
  flex-shrink: 0;
  font-size: 12px;
}
@media (max-width: 767px) {
  .form-control-input-radio-img.checked {
    background-color: #f9f9f9;
  }
}
</style>
