<template>
  <div class="input-range" ref="range">
    <label>{{ label }}</label>
    <div class="input-range__text">{{ unit }}</div>
    <input
      type="text"
      :name="name"
      class="input-range__input"
      v-model="value"
      @keyup="keyupInput()"
      @focus="focusInput()"
      @blur="blurInput($event)"
      ref="input"
    />
    <div class="input-range__line" ref="line">
      <div
        class="input-range__thumb"
        @mousedown="mousedown($event)"
        @touchstart="touchstart($event)"
        @dragstart.prevent=""
        ref="thumb"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormControlInputRange',
  data() {
    return {
      shiftX: 0,
      label: this.field.label,
      name: this.field.name,
      min: this.field.min || 0,
      max: this.field.max,
      value: this.field.value || 0,
      step: this.field.step || 1,
      unit: this.field.unit || 'мм',
    };
  },
  props: {
    field: Object,
    blockIndex: Number,
    fieldIndex: Number,
    stepId: String,
  },
  methods: {
    keyupInput() {
      //set line width
      let line = this.$refs.line;
      let range = this.$refs.range;
      let rangePx = range.offsetWidth - 36;
      let rangeScale = this.max - this.min; //1000

      if (this.value > rangeScale) {
        this.value = rangeScale;
      }

      line.classList.add('animate');

      let rangeLine = (this.value * rangePx) / rangeScale;
      line.style.width = rangeLine + 8 + 'px';

      setTimeout(() => {
        line.classList.remove('animate');
      }, 300);

      //push result to the store
      this.pushResult();
    },
    focusInput() {
      if (this.value === 0) {
        this.value = '';
      }
    },
    blurInput() {
      if (!this.value) {
        this.value = 0;
      }
    },
    mousedown(e) {
      //prevent select
      document.querySelector('body').classList.add('no-select');

      this.shiftX =
        e.clientX - this.$refs.thumb.getBoundingClientRect().left - 8;

      document.addEventListener('mousemove', this.mousemove);
      document.addEventListener('mouseup', this.mouseup);
    },
    mousemove(e) {
      let line = this.$refs.line;
      let range = this.$refs.range;
      let newLeft = e.clientX - this.shiftX - line.getBoundingClientRect().left;

      //set value
      let rangePx = range.offsetWidth - 36;
      let rangeLine = line.offsetWidth - 8;
      let rangeScale = this.max - this.min; //1000

      this.value =
        Math.floor((rangeLine * rangeScale) / rangePx / this.step) * this.step;

      if (rangeLine === rangePx) {
        this.value = rangeScale;
      }

      // курсор вышел из слайдера => оставить бегунок в его границах.
      if (newLeft < 8) {
        newLeft = 8;
      }
      let rightEdge = range.offsetWidth - 28;
      if (newLeft > rightEdge) {
        newLeft = rightEdge;
      }

      line.style.width = newLeft + 'px';
    },
    mouseup() {
      //remove no-select class
      document.querySelector('body').classList.remove('no-select');

      //remove events
      document.removeEventListener('mouseup', this.mouseup);
      document.removeEventListener('mousemove', this.mousemove);

      //push result to the store
      this.pushResult();
    },
    touchstart(e) {
      this.shiftX =
        e.touches[0].clientX -
        this.$refs.thumb.getBoundingClientRect().left -
        8;

      document.addEventListener('touchmove', this.touchmove);
      document.addEventListener('touchend', this.touchend);
    },
    touchmove(e) {
      let line = this.$refs.line;
      let range = this.$refs.range;
      let newLeft =
        e.touches[0].clientX - this.shiftX - line.getBoundingClientRect().left;

      //set value
      let rangePx = range.offsetWidth - 36;
      let rangeLine = line.offsetWidth - 8;
      let rangeScale = this.max - this.min; //1000

      this.value =
        Math.floor((rangeLine * rangeScale) / rangePx / this.step) * this.step;

      if (rangeLine === rangePx) {
        this.value = rangeScale;
      }

      // курсор вышел из слайдера => оставить бегунок в его границах.
      if (newLeft < 8) {
        newLeft = 8;
      }
      let rightEdge = range.offsetWidth - 28;
      if (newLeft > rightEdge) {
        newLeft = rightEdge;
      }

      line.style.width = newLeft + 'px';
    },
    touchend() {
      document.removeEventListener('touchend', this.touchend);
      document.removeEventListener('touchmove', this.touchmove);

      //push result to the store
      this.pushResult();
    },
    pushResult() {
      this.$store.commit('pushResultStepForm', {
        blockIndex: this.blockIndex,
        fieldIndex: this.fieldIndex,
        value: this.value,
        stepId: this.stepId,
      });
    },
  },
  mounted() {
    this.keyupInput();
  },
};
</script>

<style scoped>
.input-range {
  position: relative;
}
.input-range label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: translateY(-15px) scale(0.7);
  transform: translateY(-15px) scale(0.7);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.input-range__text {
  position: absolute;
  bottom: 18px;
  right: 10px;
  color: #868686;
  font-size: 14px;
}
.input-range__input {
  background-color: #f4f4f4;
  height: 47px;
  line-height: 47px;
  display: block;
  border: none;
  padding: 0 38px 0 10px;
  font-size: 14px;
  width: 100%;
}
.input-range__input:focus {
  outline: none;
}
.input-range__line {
  position: relative;
  margin: -2px 10px 0;
  height: 4px;
  border-radius: 2px;
  background-color: #f9381c;
  width: 8px;
}
.input-range__line.animate {
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-out;
}
.input-range__thumb {
  position: absolute;
  top: -6px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f9381c;
  cursor: pointer;
}
@media (max-width: 767px) {
  .input-range__thumb {
    top: -14px;
    right: -16px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: transparent;
  }
  .input-range__thumb:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f9381c;
    z-index: 10;
  }
}
</style>
