<template>
  <div class="form-control-label">
    <input
      type="text"
      name=""
      id="width"
      v-model="value"
      @focus="isFocused = true"
      @blur="isFocused = false"
    />
    <label :class="{ active: isActive }" for="width">Ширина</label>
  </div>
</template>

<script>
export default {
  name: 'FormControlInputText',
  data() {
    return {
      value: '',
      isFocused: false,
    };
  },
  computed: {
    isActive() {
      if (this.value !== '' || this.isFocused) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style scoped>
.form-control-label {
  position: relative;
}
.form-control-label label {
  color: #000000;
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  cursor: text;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
}
.form-control-label label.active {
  -webkit-transform: translateY(-15px) scale(0.7);
  transform: translateY(-15px) scale(0.7);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
input[type='text'] {
  background-color: #f4f4f4;
  height: 47px;
  line-height: 47px;
  display: block;
  border: none;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
}
input[type='text']:focus {
  outline: none;
}
</style>
