<template>
  <h1>GUI</h1>
  <app-note-gui></app-note-gui>
  <hr />
  <form-controls-gui></form-controls-gui>
  <hr />
  <app-tabs-gui></app-tabs-gui>
  <hr />
  <card-link-gui></card-link-gui>
  <card-checkbox-gui></card-checkbox-gui>
  <hr />
  <app-headers-gui></app-headers-gui>
  <hr />
  <app-buttons-gui></app-buttons-gui>
</template>

<script>
import AppButtonsGui from './components/GUI/AppButtonsGUI.vue';
import AppHeadersGui from './components/GUI/AppHeadersGUI.vue';
import AppTabsGui from './components/GUI/AppTabsGUI.vue';
import AppNoteGui from './components/GUI/AppNoteGUI.vue';
import CardLinkGui from './components/GUI/CardLinkGUI.vue';
import CardCheckboxGui from './components/GUI/CardCheckboxGUI.vue';
import FormControlsGui from './components/GUI/FormControlsGUI.vue';

export default {
  name: 'App',
  components: {
    AppButtonsGui,
    AppHeadersGui,
    AppTabsGui,
    AppNoteGui,
    CardLinkGui,
    CardCheckboxGui,
    FormControlsGui,
  },
};
</script>

<style>
body.no-select {
  -webkit-user-select: none;
  user-select: none;
}
.wizard-app {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.wizard-app,
.wizard-app * {
  box-sizing: border-box;
}
</style>
