<template>
  <app-button-back
    @action="clickBackward($event)"
    v-if="$store.state.activeStepIndex > 0"
  ></app-button-back>
  <app-header ref="header"></app-header>
  <div v-for="stepId in $store.state.steps" :key="stepId">
    <component
      v-if="stepId === $store.state.steps[$store.state.activeStepIndex]"
      :is="stepComponentName(stepId)"
      :data="stepComponentData(stepId)"
    ></component>
  </div>
  <app-form></app-form>
</template>

<script>
import AppHeader from './components/AppHeader.vue';
import AppStepMain from './components/steps/AppStepMain.vue';
import AppStepLinks from './components/steps/AppStepLinks.vue';
import AppStepMultiselect from './components/steps/AppStepMultiselect.vue';
import AppStepForm from './components/steps/AppStepForm.vue';
import AppStepPoll from './components/steps/AppStepPoll.vue';
import AppForm from './components/AppForm.vue';
import AppButtonBack from './components/AppButtonBack.vue';

export default {
  name: 'App',
  methods: {
    clickBackward(event) {
      this.$store.commit('setActiveStepIndex', {
        step: this.$store.state.activeStepIndex - 1,
        wizardId: event.target.closest('.wizard-app').getAttribute('id'),
      });
      this.$store.commit('showHideForm', {
        id: event.target.closest('.wizard-app').getAttribute('id'),
        flag: false,
      });
    },
    stepComponentData(stepId) {
      const activeStepObject = this.$store.state.stepsData.filter(
        (stepObject) => {
          return stepObject.id === stepId;
        }
      )[0];

      return activeStepObject;
    },
    stepComponentName(stepId) {
      const activeStepObject = this.stepComponentData(stepId);
      const activeStepType = `${activeStepObject.type
        .substring(0, 1)
        .toUpperCase()}${activeStepObject.type.substring(
        1,
        activeStepObject.type.length
      )}`;

      return `AppStep${activeStepType}`;
    },
  },
  components: {
    AppHeader,
    AppStepMain,
    AppStepLinks,
    AppStepMultiselect,
    AppStepForm,
    AppStepPoll,
    AppForm,
    AppButtonBack,
  },
};
</script>

<style>
body.no-select {
  -webkit-user-select: none;
  user-select: none;
}
.wizard-app {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 600px;
  padding: 30px;
  position: relative;
}
.wizard-app,
.wizard-app *,
.wizard-app ::before,
.wizard-app ::after {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
.wizard-app a,
.wizard-app a:hover,
.wizard-app a:active,
.wizard-app a:visited {
  color: #015bff;
}
.wizard-app label {
  font-weight: normal;
}
.wizard-step {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.wizard-step--show {
  opacity: 1 !important;
}
@media (max-width: 575px) {
  .wizard-app {
    padding: 30px 0;
  }
}
</style>
